# ignore files
*.vs
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
*.bak
*.hlog

# ignore directories
bin
bin-int
LogFiles
Caches
_BUILD
.worktrees
product/bin64
product/logs
product/caches
product/test-reports
product/test-temp
cacheshader
